/* Значек карзины */

.header__bascket .bascet_counter {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    color: white;
    background-color: #6bb431;
    font-size: 8px;
    text-align: center;
    line-height: 14px;
    left: 14px;
    top: -4px;
}

.header__bascket {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
  }

.header__bascket:before {
    content: "";
    float: left;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/icons/bascet.svg");
}

/* Значек карзины end*/

.header__bascket:hover:before { 
    background-image: url("../img/icons/bascet_hover.svg");
}

.bascet {
    width: 100%;
    display: flex;
    min-height: 100px;
}

.bascet_lader {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.bascet_lader span{
    width: 100%;
    height: 150px;
    background-image: url(../img/icons/loader.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bascet_tovar {
    
    flex: 3;
}

.bascet_form {
    flex:1;
    max-width: 320px;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    margin-left: 40px;
    padding: 20px;
    border-radius: 11px;
}

.bascet_form h2{ 
    font-size: 22px;
    font-weight: 900;
}

.bascet_form form input,
.bascet_form form textarea
{ 
    width:100%;
    margin: 10px 0;
}

.bascet_form form textarea {
    min-height: 100px;
}

.bascet_form form .policy a{
    text-decoration: underline;

}

.bascet_form form .policy {
    margin: 10px;
    font-size: 12px;
} 

.bascet_tovar .control{ 
    width: 100%;
    display: flex;
}

.bascet_tovar .control .clear_bascet_btn{ 
    color:#a90707;  
    margin-left: auto;
    position: relative;
}

.bascet_tovar .control .clear_bascet_btn:hover span{ 
    border-bottom: 1px dashed #a90707;
}

.bascet_tovar .control .clear_bascet_btn:before{ 
    content: "";
    position: absolute;
    left:-30px;
    top:-7px;
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/trash-bascet.svg);
    background-size: cover;

}

/* Список товаров */

.tovar_list {
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

.tovar_list { 
    width: 100%;
    min-height: 50px;
    border-radius: 11px;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}

.tovar_list .tovar{
    display: flex; 
    padding: 20px;
}

.tovar_list .tovar .tovar_all_blk{ 
    display: flex;
}

.tovar_list .tovar .tovar_all_blk *{
    margin: auto 0 auto 0;
} 

.tovar_list .tovar .picture_blk{ 
    width:50px;
    height:50px;
}

.tovar_list .tovar .dll_blk { 
    width:20px;
    height:50px;
}

.tovar_list .tovar .dll_blk span{  
    width:15px;
    height: 15px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/close.svg);
    cursor:pointer;
}

.tovar_list .tovar .dll_blk span:hover{ 
    background-image: url(../img/icons/close_hover.svg);
}

.tovar_list .tovar .picture_blk img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tovar_list .tovar .name_blk{ 
    padding:  0 30px;
    flex-direction: column;
    text-align: center;
    text-align: left;
}

.tovar_list .tovar .name_blk h2{ 
    font-size: 18px;
    font-weight: 900;
    margin: auto 0 auto 0;
}

.tovar_list .tovar .name_blk p{ 
    margin: auto 0 auto 0;    
}

.tovar_list .tovar .price_blk{ 
    width:100px;
    margin: 0 0 0 auto;
}

.tovar_list .tovar .couint_blk{ 
    width:85px;
    margin: 0 0 0 0;
    padding:  0 10px;
}

.tovar_list .tovar .couint_blk input{ 
    width:100%;
}

.tovar_list .tovar .summ_blk{ 
    width:100px;
    margin: 0 0 0 0;
}

/* Итог корзины */

.itogo {
    width:100%;
    margin-top: 30px;
    font-size: 18px;
}

.itogo .itogo_price_count{ 
    width: 50%;
    min-width: 320px;
    min-height: 50px;
    background-color: #f2f3f5;
    border-radius: 11px;
    padding: 20px;
    margin: 0 0 0 auto;
}

.itogo .itogo_price_count .itogo_row_final{
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
} 

.itogo .itogo_price_count .itogo_row{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.itogo .itogo_price_count .itogo_row .text{ 
    margin: 0 auto 0 0;
}

.itogo .itogo_price_count .itogo_row .text span{ 
    font-weight: 900;
}

.itogo .itogo_price_count .itogo_row .razd{ 
    border-bottom: 1px dotted gray;
    flex-grow:1
}

.itogo .itogo_price_count .itogo_row .p_price{ 
    margin: 0 0 auto 0;
}