.sub-sclose {
    display: none;
    cursor: pointer;
  }


  .sub-sclose:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 65px;
    background-size: cover;
    width: 20px;
    height: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/icons/sclose.svg); 

  }
  
.sub-load {
    display: none;
}
    
.sub-load:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 60px;
    background-size: cover;
    width: 30px;
    height: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/icons/loader.svg); 
} 

/* Меню поиска */
.preSearchWrap {
    display: none;
    position: absolute;
    left: 0;
    top: 43px;
    width: 100%;
    max-height: 400px;
    padding: 2%;
    border: 1px solid #e0e1e3;
    border-radius: 0;
    background-color: white;
    z-index: 100000;
    overflow: hidden;
    border-radius: 7.5px;

  }

  .preSearchElemLnk:hover,
  .preSearchWrap a:hover {
    color:#E13510;
  }

  .preSearchWrap_panel {
    width: 100%;
    height: 94%;
    max-height: 380px; 
    overflow: auto;
  }
  
  .preSearchWrap_panel::-webkit-scrollbar-button {
    display: none;
}

  .preSearchWrap_panel::-webkit-scrollbar {
    border-radius: 8.5px;
    padding: 5px 0 5px 0;
    overflow: hidden;
  }
  
  .preSearchWrap_panel::-webkit-scrollbar-thumb {
    background-color: #dde5ec;
    border-radius: 5.5px;
  }
  
  .preSearchElem {
    display: flex;
    width: 100%;
    min-height: 70px;
    margin-bottom: 15px;
  }
  .preSearchElem .img {
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .preSearchElem .text {
    display: flex;
    flex: 3;
  }
  .preSearchElem .text span {
    margin: auto 10px;
  }
  .preSearchElem .price {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100px;
  }
  .preSearchElem .price .cur {
    width: 100%;
    margin: auto;
  }

.catPreSearchElemLnk {
    font-weight: 700;
    padding: 20px 0 20px 53px;
    margin-left: 25px;
    display: block;
    position:relative
}

.catPreSearchElemLnk:hover { 
    color:#E13510
}

.catPreSearchElemLnk:hover:before { 
    background-image: url(../img/icons/category_hover.svg); 
}

.catPreSearchElemLnk:before {
    content: "";
    position: absolute;
    top: 16px;
    left: -3px;
    background-size: cover;
    width: 20px;
    height: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/icons/category.svg); 
}

  /* Меню поиска END */ 